<?xml version="1.0" ?>
<robot name="four_wheels_car" xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.2 .3 .1"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.05"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
    </link>

    <joint name="wheel01_joint" type="fixed">
        <parent link="base_link"/>
        <child link="wheel01_link"/>
        <origin xyz = " 0 0 0" rpy = "0 0 0"/>
    </joint>
    <link name="wheel01_link">
        <visual>
            <geometry>
                <cylinder length="0.05" radius="0.05"/>
            </geometry>
            <origin rpy="0 1.57 0" xyz="0.1 0.1 0"/>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
    </link>

    <joint name="wheel02_joint" type="fixed">
        <parent link="base_link"/>
        <child link="wheel02_link"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
    </joint>
    <link name="wheel02_link">
        <visual>
            <geometry>
                <cylinder length="0.05" radius="0.05"/>
            </geometry>
            <origin rpy="0 1.57 0" xyz="-0.1 0.1 0"/>
            <material name="black"/>
        </visual>
    </link>

    <joint name="wheel03_joint" type="fixed">
        <parent link="base_link"/>
        <child link="wheel03_link"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
    </joint>
    <link name="wheel03_link">
        <visual>
            <geometry>
                <cylinder length="0.05" radius="0.05"/>
            </geometry>
            <origin rpy="0 1.57 0" xyz="0.1 -0.1 0"/>
            <material name="black"/>
        </visual>
    </link>

    <joint name="wheel04_joint" type="fixed">
        <parent link="base_link"/>
        <child link="wheel04_link"/>
        <origin xyz = "0 0 0" rpy = "0 0 0"/>
    </joint>
    <link name="wheel04_link">
        <visual>
            <geometry>
                <cylinder length="0.05" radius="0.05"/>
            </geometry>
            <origin rpy="0 1.57 0" xyz="-0.1 -0.1 0"/>
            <material name="black"/>
        </visual>
    </link>

</robot>
